@model CategoryTranslationFormViewModel
@using System.Globalization
@using ES.Web.Areas.EsAdmin.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Translations"];
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.1.1/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">
                        @((Model.TranslationId > 0)
                            ? Localizer["Edit translation"]
                            : Localizer["Add translation"])
                    </h6>
                    <hr>
                    <form asp-controller="CategoriesTranslates" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row g-3">
                            @if(Model.TranslationId > 0){
                                <input type="hidden" asp-for="TranslationId" />
                            }
                            <input type="hidden" asp-for="CategoryId" /> <!--To get The Category I am adding translation to -->

                            @if(Model.TranslationId == 0)
                            {
                            <!-- Language -->
                            <div class="col-6">
                                    <label for="language" class="form-label">@Localizer["Language"]</label>
                                    <select asp-for="LanguageId" asp-items="Model.Languages" class=" form-select">
                                </select>
                                <span asp-validation-for="LanguageId" class="text-danger"></span>
                            </div>
                            }
                            <!-- Category Name -->
                            <div class="col-12">
                                <label asp-for="Name" class="form-label">@Localizer["Category name"]</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <!-- Short Description -->
                            <div class="col-md-6 col-12">
                                <label asp-for="ShortDescription" class="form-label">@Localizer["Short description"]</label>
                                <textarea id="tinyMCEShortDesc" asp-for="ShortDescription" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>

                            <!-- Long Description -->
                            <div class="col-md-6 col-12">
                                <label asp-for="LongDescription" class="form-label">@Localizer["Long description"]</label>
                                <textarea id="tinyMCELongDesc" asp-for="LongDescription" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="LongDescription" class="text-danger"></span>
                            </div>

                            <!-- Meta Description -->
                            <div class="col-md-6 col-12">
                                <label asp-for="MetaDescription" class="form-label">@Localizer["Meta Description"]</label>
                                <textarea asp-for="MetaDescription" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                            </div>

                            <!-- Meta Keywords -->
                            <div class="col-md-6 col-12">
                                <label asp-for="MetaKeywords" class="form-label">@Localizer["Meta Keywords"]</label>
                                <textarea asp-for="MetaKeywords" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/CMS/js/tinyMce.js"></script>
}

