@model EcomCategoryFormViewModel

@using System.Globalization
@using ES.Web.Areas.EsAdmin.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Product Categories"];
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.1.1/select2-bootstrap-5-theme.min.css" />
}

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">
                        @((Model.Id > 0)
                            ? Localizer["Edit category"]
                            : Localizer["Add category"])
                    </h6>
                    <hr>
                    <form id="my-Form" method="post" enctype="multipart/form-data" asp-controller="EcomCategories">
                        @Html.AntiForgeryToken()
                        @if (Model?.Id is not null)
                        {
                            <input type="hidden" asp-for="Id" />
                        }
                        <div class="row g-3">

                            <!-- Category Name -->
                            <div class="col-md-6">
                                <label class="form-label">@Localizer["Category title"]<span style="color: red;">*</span></label>
                                <input asp-for="Name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <!-- Parent Category -->
                            <div class="col-md-6">
                                <label class="form-label">@Localizer["Parent category"]</label>
                                <select id="parentCategoryDropdown" asp-for="ParentCategoryId" asp-items="Model?.Categories" class="form-select">
                                    <option value="" selected>@Localizer["Main category"]</option>
                                </select>
                                <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                            </div>


                            <!-- Short Description -->
                            <div class="col-md-6">
                                <label class="form-label ">@Localizer["Short description"]</label>
                                <textarea id="tinyMCEShortDesc" asp-for="ShortDescription" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>

                            <!-- Long Description -->
                            <div class="col-md-6">
                                <label class="form-label ">@Localizer["Long description"]</label>
                                <textarea id="tinyMCELongDesc" asp-for="LongDescription" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="LongDescription" class="text-danger"></span>
                            </div>

                            <!--Images-->
                            <div class="row p-3">
                                <!-- Cover Image Section -->
                                <div class="col-md-6">
                                    <label class="form-label">@Localizer["Cover image"]</label>
                                    <div class="mb-3 d-flex align-items-center">
                                        <input asp-for="CoverImage"
                                               type="file"
                                               class="form-control"
                                               id="CoverImage"
                                               accept="image/*"
                                               data-hidden-input-id="KeepCoverImage"
                                               onchange="previewImage(event, 'CoverImagePreview')" />

                                        <!-- Clear button for input -->
                                        <button type="button" class="btn btn-outline-danger btn-sm ms-2" id="clearCoverImage">
                                            @Localizer["Clear"]
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img id="CoverImagePreview"
                                             src="@(!string.IsNullOrEmpty(Model.CoverImageUrl) ? @Url.Content($"~/images/EcomCategories/{Model.CoverImageUrl}") : Url.Content("~/images/placeholder.png"))"
                                             alt="Cover Image"
                                             class="img-fluid rounded shadow"
                                             style="max-width: 100%; max-height: 300px; object-fit: cover;" />
                                    </div>
                                    <span asp-validation-for="CoverImage" class="text-danger"></span>
                                    <input type="hidden" asp-for="CoverImageUrl" value="@Model.CoverImageUrl" />

                                    <!-- Hidden input to track whether to keep the image -->
                                    <input type="hidden" id="KeepCoverImage" asp-for="@Model.KeepCoverImage" value="true" />
                                </div>

                                <!-- Featured Image Section -->
                                <div class="col-md-6">
                                    <label class="form-label">@Localizer["Featured image"]</label>
                                    <div class="mb-3 d-flex align-items-center">
                                        <input asp-for="FeaturedImage"
                                               type="file"
                                               class="form-control"
                                               id="FeaturedImage"
                                               accept="image/*"
                                               data-hidden-input-id="KeepFeaturedImage"
                                               onchange="previewImage(event, 'FeaturedImagePreview')" />

                                        <!-- Clear button for input -->
                                        <button type="button" class="btn btn-outline-danger btn-sm ms-2" id="clearFeaturedImage">
                                            @Localizer["Clear"]
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img id="FeaturedImagePreview"
                                             src="@(!string.IsNullOrEmpty(Model.FeaturedImageUrl) ? @Url.Content($"~/images/EcomCategories/{Model.FeaturedImageUrl}") : Url.Content("~/images/placeholder.png"))"
                                             alt="Featured Image"
                                             class="img-fluid rounded shadow"
                                             style="max-width: 100%; max-height: 300px; object-fit: cover;" />
                                    </div>
                                    <span asp-validation-for="FeaturedImage" class="text-danger"></span>
                                    <input type="hidden" asp-for="FeaturedImageUrl" value="@Model.FeaturedImageUrl" />

                                    <!-- Hidden input to track whether to keep the image -->
                                    <input asp-for="@Model.KeepFeaturedImage" type="hidden" id="KeepFeaturedImage" value="true" />
                                </div>
                            </div>

                            <!-- Meta Description -->
                            <div class="col-md-6">
                                <label class="form-label">@Localizer["Meta Description"]</label>
                                <textarea asp-for="MetaDescription" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                            </div>

                            <!-- Meta Keywords -->
                            <div class="col-md-6">
                                <label class="form-label">@Localizer["Meta Keywords"]</label>
                                <textarea asp-for="MetaKeywords" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                            </div>

                            <!-- Is Published -->
                            <div class="col-lg-12">
                                <div class="form-check">
                                    <input asp-for="IsPublished" class="form-check-input" type="checkbox" />
                                    <label class="form-check-label">@Localizer["Publish ?"]</label>
                                </div>
                                <span asp-validation-for="IsPublished" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/CMS/js/tinyMce.js"></script>
    <script src="~/CMS/js/ecomCategoryForm.js"></script>
    <script>
        var currentLanguage = '@CultureInfo.CurrentCulture.Name'; // This will set the current language, e.g., "en-US" or "ar"
    </script>
}